<%= form_with(model: kitten) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.number_field :age, in: 1..18 %>
  </div>
  <div>
    <%= form.label :cuteness %>
    <%= form.select :cuteness, (1..5) %>
  </div>
  <div>
    <%= form.label :softness %>
    <%= form.select :softness, (1..5) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
